.all_project_content {
    padding-top: 6em;
    width: 90%;
    margin: 0 auto;
}


.project_content_title {
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-weight: 800;
    font-size: 2em;
    border-bottom: 2px solid #F1F2F4;
}

.all_proj_cont_col {
    display: flex;
    justify-content: flex-end;
}

.all_proj_second_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.all_proj_drpds_itm svg {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-size: 1.5em;
}


.modal_create_project_container {
    padding: 2em;
    border-bottom: 2px solid #F1F2F4;
}

.modal_create_project_container_first_col {
    margin: 0 1em;
}

.modal_create_project_container_first_col_title {
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: 2em;
    margin-bottom: .5em;
}

.modal_create_project_container_first_col_1_item {
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: .9em;
    margin-bottom: .5em;
}

.modal_create_project_container_first_col_1_item span {
    font-weight: 700;
}

.modal_create_project_container_first_col_1_inp_tilte {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: 1em;
    margin-bottom: .5em;
}

.modal_create_project_container_first_col_1_inp {
    margin-bottom: .5em;
}

.modal_create_project_container_first_col_1_inp input {
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    outline: none;
    border: 2px solid #DCDFE4;
    border-radius: .3em;
    padding: .5em;
}

.modal_create_project_container_first_col_1_sec_inp input {
    font-family: 'Oxygen', sans-serif;
    outline: none;
    border: 2px solid #DCDFE4;
    border-radius: .3em;
    padding: .5em;
}

.modal_create_project_container_second_col {
    padding: 0 1em;
}

.modal_create_project_container_second_col_sub_content {
    margin-bottom: 1em;
}

.modal_create_project_container_second_col_sub_content_1_item {
    margin-bottom: .7em;
}

.modal_create_project_container_second_col_sub_content_1_item_sec_col {
    display: flex;
    justify-content: flex-end;
}

.modal_create_project_container_second_col_sub_content_1_item_title {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: 1em;
}

.modal_create_project_container_second_col_sub_content_2_item_row {
    border: 1px solid #F1F2F4;
    /* padding: 1em; */
    cursor: pointer;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.54);
    border-radius: .3em;
    margin-bottom: 2em;
}

.modal_create_project {
    width: 60% !important;
}

.modal_create_project_container_second_col_sub_content_2_item_first_col {
    padding: 1em;
    background-color: #F1F2F4;
}

.modal_create_project_container_second_col_sub_content_2_item_first_col_s {
    padding: 1em;
    background-color: #F3F0FF;
}


.modal_create_project_container_second_col_sub_content_2_item_first_col img {
    width: 100%;
}

.modal_create_project_container_second_col_sub_content_2_item_first_col_s img {
    width: 100%;
}

.modal_create_project_container_second_col_sub_content_2_item_second_col {
    padding: .5em;
}

.modal_create_project_container_second_col_sub_content_2_item_second_col_1_item {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: 1em;
}

.modal_create_project_container_second_col_sub_content_2_item_second_col_2_item {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: .9em;
    margin-bottom: .3em;
}

.modal_create_project_container_second_col_sub_content_2_item_second_col_2_item svg {
    color: #4096FF;
}

.modal_create_project_container_second_col_sub_content_2_item_second_col_3_item {
    font-family: 'Oxygen', sans-serif;
    color: #44546F;
    font-size: .7em;
}

.all_proj_third_item_intb_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.all_proj_third_item_intb_item_1_item {
    width: 5%;
    margin-right: 1em;
}

.all_proj_third_item_intb_item_1_item img {
    width: 100%;
}