.main_bar_sub_right_bar_user_content {
    width: 20em;
}

.main_bar_sub_right_bar_user_content li:nth-child(1):hover {
    background-color: transparent !important;
}

.main_bar_sub_right_bar_user_content li:nth-child(4):hover {
    background-color: transparent !important;
}

.main_bar_sub_right_bar_user_content li:nth-child(7):hover {
    background-color: transparent !important;
}


.main_bar_user_cntn_title {
    font-family: 'Oxygen', sans-serif;
    padding-top: 1em;
    font-weight: 800;
    color: #172B4D;
}

.main_bar_user_cntn_user_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main_bar_user_cntn_user_content_1_item {
    margin-right: .5em;
    font-size: 2.5em;
}

.main_bar_user_cntn_user_content_2_item_1_item {
    font-family: 'Oxygen', sans-serif;
    padding-top: 1em;
    font-weight: 800;
    color: #172B4D;
    font-size: .9em;
}

.main_bar_user_cntn_user_content_2_item_2_item {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-size: .9em;
}

.main_bar_user_cntn_link {
    font-family: 'Oxygen', sans-serif;
    font-weight: 800;
    color: #172B4D;
    text-decoration: none;
    font-size: .9em;
}

.main_bar_user_cntn_link span {
    padding: .5em;
    font-family: 'Oxygen', sans-serif;
    font-weight: 800;
    background-color: #0C66E4;
    border-radius: .5em;
    color: white;
    text-decoration: none;
    font-size: .9em;
}

.main_bar_user_cntn_link_ovrl {
    display: flex;
    justify-content: space-between;
}

.main_bar_theme_chng_itm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main_bar_theme_chng_itm_1_item {
    margin-right: .5em;
}

.main_bar_sub_right_bar_content_2_itm_icon {
    color: #44546F;
    font-size: 1.5em;
}