.timeline_content_in_forth_card_section_in_item_1_item_other_itm {
    /* height: 10em; */
    background-color: transparent;
    overflow: hidden;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 9px 3px #FFECEB;
    transition: .3s;
}

.timeline_content_in_forth_card_section_in_item_1_item_other_itm:hover {
    background-color: #E9EBEE !important
}


.timeline_content_in_forth_card_section_in_item_1_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.timeline_content_in_forth_card_section_in_item_1_item input {
    width: 100%;
}


.timeline_content_in_forth_card_section_in_item_1_item_content,
.timeline_content_in_forth_card_section_in_item_2_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timeline_content_in_forth_card_section_in_item_1_item_content_1_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline_content_in_forth_card_section_in_item_1_item_content_1_item_title {
    margin-right: .5em;
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
}


.timeline_content_in_forth_card_section_in_item_1change_name {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.timeline_content_in_forth_card_section_in_item_1change_name_in_1_item {
    width: 100%;
    margin-bottom: .5em;
}

.timeline_content_in_forth_card_section_in_item_1change_name_in_1_item input {
    width: 100%;
}

.timeline_content_in_forth_card_section_in_item_1change_name_in_2_item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.timeline_content_in_forth_card_section_in_item_2_item_title {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
}

.timeline_content_in_forth_card_section_in_item_2_item_title svg {
    margin-right: .5em;
    color: red;
}

.timeline_content_in_forth_card_section_in_item_2_item_inp_nm {
    width: 3em;
}

.timeline_content_in_forth_card_section_in_item_2_item_in_sec_item {
    display: flex;
    align-items: center;
}

.timeline_content_in_forth_card_section_in_item_2_item_in_sec_item button {
    margin-left: .5em;
}

.timeline_content_in_forth_card_section_in_item_2_item_title_elps svg {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
}

.board_issue_modal_itm {
    width: 100% !important;
}


.board_create_issue_feoq_content_issue_content_2_item_ovrl_1_item {
    cursor: pointer;
    padding: .3em .6em;
    color: #2d6a4f;
    background-color: #d8f3dc;
    transition: .3s ease-in-out;
}

.board_create_issue_feoq_content_issue_content_2_item_ovrl_1_item:hover {
    color: #d8f3dc;
    background-color: #2d6a4f;
}

.board_create_issue_feoq_content_issue_content_2_item_ovrl_2_item {
    padding: .3em .6em;
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #FFECEB;
    color: #C9372C;
}

.board_create_issue_feoq_content_issue_content_2_item_ovrl_2_item:hover {
    color: #FFECEB;
    background-color: #C9372C;
}

.label_modal_veqd_content_item_1 {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    margin-bottom: 1em;
}

.label_modal_veqd_content_item_2 {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: 3em;
}

.board_issue_description_items_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 1em;
}

.board_issue_description_items_content_in_item {
    padding: .5em;
    background-color: #F1F2F4;
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-size: .7em;
    border-radius: .5em;
    font-weight: 700;
    margin: 0 .5em .5em 0;
}

.timeline_content_in_forth_card_section_in_item_2_item_in_sec_item_in_itvd_item {
    background-color: #DFD8FD;
    padding: .5em .7em;
    color: #4F4195;
    transition: .3s ease-in-out;
    margin-left: .5em;
}

.timeline_content_in_forth_card_section_in_item_2_item_in_sec_item_in_itvd_item:hover {
    background-color: #4F4195;
    color: #DFD8FD;
}

.timeline_content_in_forth_card_section_in_item_2_item_in_sec_item_flag {
    color: #C9372C;
}