.team_page_content_headsec_picture {
    width: 100%;
    background-image: url(https://images3.alphacoders.com/165/thumb-1920-165265.jpg);
    background-position: center;
    height: 30%;
    margin-bottom: 2em;
}