.timeline_content_in_third_section_sec_col_title {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    margin-right: 1em;
}

.timeline_content_in_third_section_sec_col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timeline_content_in_third_section_sec_col button {
    margin-left: 1em;
}

.timeline_content_in_third_section_sec_col button:last-child svg {
    font-size: 1.2em;
    margin-right: .2em;
}

.timeline_content_in_forth_card_section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 70%;
    overflow: scroll;
}

.timeline_content_in_forth_card_section_in_card {
    margin-right: 1em;
    background-color: #F7F8F9;
    margin-bottom: 3em;
    /* background-color: red; */
}

.timeline_content_in_third_section_in_2_item_team_content_overlay {
    text-decoration: none;
}

.timeline_content_in_third_section_in_2_item_team_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3CBF6;
    padding: .7em;
    color: #4F4195;
    transition: .3s ease-in-out;
}

.timeline_content_in_third_section_in_2_item_team_content:hover {
    background-color: #4F4195;
    color: #D3CBF6;
}

.timeline_content_in_third_section_in_2_item_team_content_1_item {
    margin-right: .5em;
}

.timeline_content_in_third_section_in_2_item_team_content_1_item svg {
    font-size: 1.5em;
}

.timeline_content_in_forth_card_section_in_card_title {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    font-size: .7em;
}

.timeline_content_in_forth_card_section_in_item_2_item_title_elps {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit {
    width: 25% !important;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit_in_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit_in_content_1_item {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit_in_content input {
    border: 2px solid #172B4D;
    padding: .2em;
    width: 50%;
    font-family: 'Oxygen', sans-serif;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit_in_content_2_item {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    margin-bottom: 1em;
    font-size: 1em;
}

.timeline_content_in_forth_card_section_in_item_2_item_column_limit_in_content_3_item {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: .7em;
}

.timeline_content_in_forth_card_section_in_card_title span {
    background-color: #C9372C;
    color: white;
    width: 50%;
    padding: 2em;
    margin-left: 1em;
}

/* .timeline_content_in_fivth_add_card_section {
    background-color: #F1F2F4;
    padding: 1em;
} */

.timeline_content_in_fivth_add_card_section_1_item {
    background-color: #F1F2F4;
    color: #172B4D;
    font-size: 1.5em;
    padding: .2em .4em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.timeline_content_in_fivth_add_card_section_1_item:hover {
    background-color: #172B4D;
    color: #F1F2F4;
}

.timeline_content_in_fivth_add_card_section_2_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1F2F4;
    padding: 1em;
    margin-right: 5em;
}



.timeline_content_in_fivth_add_card_section_2_item_1_item input {
    font-family: 'Oxygen', sans-serif;
    color: #172B4D;
    width: 100%;
    padding: .2em .5em;
    outline: none;
}

.timeline_content_in_fivth_add_card_section_2_item_2_item {
    display: flex;
    justify-content: flex-end;

}

.timeline_content_in_fivth_add_card_section_2_item_2_item_1_item {
    background-color: red;
    padding: .5em .7em;
    background-color: #F1F2F4;
    color: #172B4D;
    cursor: pointer;
    border: 1px solid #172B4D;
    border-top: none;
    transition: .3s ease-in-out;
}

.timeline_content_in_fivth_add_card_section_2_item_2_item_1_item:hover {
    background-color: #172B4D;
    color: #F1F2F4;
}

.timeline_content_in_fivth_add_card_section {
    margin-right: 2em;
}